<!doctype html>
<html lang="en" data-framework="jquery">
	<head>
		<meta charset="utf-8">
		<title>jQuery • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section id="todoapp">
			<header id="header">
				<h1>todos</h1>
				<input id="new-todo" placeholder="What needs to be done?" autofocus> 
			</header>
			<section id="main">
				<input id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list"></ul>
			</section>
			<footer id="footer"></footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!--preparing handlebars template for todo list.-->
		<script id="todo-template" type="text/x-handlebars-template">
			<!--run while loop on 'this'-->
			{{#this}}
			<!--if 'completed' property is true, add class 'completed'. Set 'data-id' value to var. 'id'.-->
			<li {{#if completed}}class="completed"{{/if}} data-id="{{id}}">
				<div class="view">
					<!--if 'completed' property is true, add 'checked' attribute.-->
					<input class="toggle" type="checkbox" {{#if completed}}checked{{/if}}>
					<!--fill label with elements 'title' property.-->
					<label>{{title}}</label>
					<button class="destroy"></button>
				</div>
				<!--add elements 'title' property as 'input' value.-->
				<input class="edit" value="{{title}}">
			</li>
		{{/this}}
		</script>
		<!--preparing handlebars template for footer.-->
		<script id="footer-template" type="text/x-handlebars-template">
			<!--add 'activeTodoCount' and 'activeTodoWord' to span element.-->
			<span id="todo-count"><strong>{{activeTodoCount}}</strong> {{activeTodoWord}} left</span>
			<ul id="filters">
				<li>
					<!--if 'filter' is equal to 'all', add class 'selected'.-->
					<a {{#eq filter 'all'}}class="selected"{{/eq}} href="#/all">All</a>
				</li>
				<li>
					<!--if filter is equal to 'active', add class 'selected'.-->
					<a {{#eq filter 'active'}}class="selected"{{/eq}}href="#/active">Active</a>
				</li>
				<li>
					<!--if filter is equal to 'completed', add class 'selected'.-->
					<a {{#eq filter 'completed'}}class="selected"{{/eq}}href="#/completed">Completed</a>
				</li>
			</ul>
			<!--if 'completedTodos' is true, add clear completed button.-->
			{{#if completedTodos}}<button id="clear-completed">Clear completed</button>{{/if}}
		</script>
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="node_modules/jquery/dist/jquery.js"></script>
		<script src="node_modules/handlebars/dist/handlebars.js"></script>
		<script src="node_modules/director/build/director.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
